<script setup lang="ts">
import { useConfirmDelStore } from "../stores/confirmDel";

const confirmDelStore = useConfirmDelStore();
</script>
<template>
  <v-dialog v-model="confirmDelStore.isShow" persistent width="auto"
    ><v-card
      ><v-card-text class="text-center">Confirm Delete</v-card-text
      ><v-card-actions
        ><v-btn @Click="confirmDelStore.isShow = false">Cancel</v-btn
        ><v-btn @Click="confirmDelStore.Delete(confirmDelStore.Id!)"
          >Confirm</v-btn
        ></v-card-actions
      ></v-card
    ></v-dialog
  >
</template>
